:host::ng-deep {
  .item-content {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
  }

  .image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  img {
    width: 15vw;
  }

  .name {
    font-size: 24px;
  }

  .description {
    font-size: 18px;
  }

  .date {
    font-size: 14px;
  }

  .custom-carouel {
    margin-top: 50px;
  }

  .p-carousel-content {
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(36, 35, 35);
    padding: 10px;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    display: block;
    width: 25px;
    height: 8px;
    margin: 2px;
    border: solid 1px white;
    border-radius: 3px;
    background-color: transparent;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: grey;
  }
}



