:host::ng-deep {

  .search {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  .p-inputtext {
    height: 50px;
    width: 70%;
    margin: 10px;
    border: solid 1px black;
    border-radius: 5px;
  }

  .button {
    width: 10%;
    font-size: 1em;
    margin: 10px;
    border: solid 1px black;
    border-radius: 5px;
  }

}
